@import "bulma/css/bulma.css";
html {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  /* To scale rem units */
  /* https://www.sitepoint.com/understanding-and-using-rem-units-in-css/ */
  font-size: 62.5%;
  color: white;
  margin: 0;
  padding: 0;
}


a {
  /* I hate this */
  text-decoration: none;
}
